@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Forma DJR Deck;
  src: url(../public/FormaDJRDeck-Bold.ttf);
}

@font-face {
  font-family: Absans Regular;
  src: url(../public/Absans-Regular.woff2);
}

.absans-regular {
  font-family: Absans Regular;
}

.forma-deck {
  font-family: Forma DJR Deck;
}

#Sanaa:hover {
  background-color: #b2333f;
  color: #fff;
}

#Famasi:hover {
  background-color: #073043;
  color: #fff;
}

#Edo:hover {
  background-color: #c11111;
  color: #fff;
}

#Delivery:hover {
  background-color: #302883;
  color: #fff;
}

#Orange:hover{
  background-color: #DA3F07;
  color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
